h1,
p {
  font-family: Lato;
}

.listado {
  background-color: rgb(199, 243, 247);
   grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  line-height: 40px;
  text-align: center;
margin-bottom: 10px;

}

.grid-container {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
  display: grid;
  line-height: 30px;
  border: 1px solid rgb(7, 7, 7);
  text-align: center;
  background-color:rgb(255, 250, 185) ;
  border-bottom: 1px solid #dddddd;

}
.button{
background-color: rgb(253, 228, 216);
  color: black;

}
.container{

align-items: center;
 background-color: rgb(255, 255, 255);
 justify-content: center;

}
.foot{
  padding:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
 
}
.buttonFoot{
width: auto;
  padding:10px ;
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;

}
a{
  padding:10px ;
  display: flex-end;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-content:space-between; 
}
 #button{
  width: 100%;
  display: flex;
  text-align: center;
  
  align-items: center;
  justify-content: center;
  
} 
.titulo{

display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
}
h4{
  text-align: center;
  color: white;
  padding: 7px;
  margin-bottom: 15px;
}
/* CREAR BOTONES PERSONALIZADOS  */
.buttonMaps{
  border-radius: 4px;
  background-color: #06b3ca; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* CONTENEDOR INPÚT + BOTON */
.add{
 
 padding-top: 10px;  
 
  
/* CONTENEDOR INPÚT */
}
.add1{
 
padding-bottom: 0px;
  

 
 }
/* AGREGARSE BOTON */
.add2{  

flex-direction: row;
   padding-top:5px;
  align-items:"center";
  text-align: center;
   padding-bottom: 10px;
  justify-content: center;
   
}
#ing{
width: 100%;
height:40px;
  text-align: center;
}
.swal-button {
  padding: 7px 19px;
  margin-right: 130px;
   border-radius: 2px;
  background-color: #4962B3;
  font-size: 15px;
  border: 1px solid #3e549a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.parrafo {
  white-space: pre;
}

#h5{

  background-color: rgb(206, 213, 253);
  flex: 1;
  width: 100%;
padding: 10px;
}
#news{
  margin-top:10px;
 
  width: 100%;
  align-items: center;
  text-align: center;
}

#bloque{
  background-color:rgb(235, 234, 221);
flex: 1;
  width: 100%;
  align-items:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  
}
#card{
  margin-bottom: 15px;
}
#h5footer{
  color: white;
  font: size 2px;
  text-align: center;
  align-items: center;
  justify-content: center;

}
#tituloFooter{
 
  background-color: black;
  align-items: center;
  justify-content: center;
  text-align: center;

}